title Sound Traveler Map
meta(name='viewport', content='initial-scale=1,maximum-scale=1,user-scalable=no')
link(rel="stylesheet", type="text/css", href="//mapbox.com/base/latest/base.css")
link(rel="stylesheet", type="text/css", href="js/all.css")
script(src="js/all.js")
